<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnCodingBlogAdmin</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="nav">
        <div class="sidenav">
            <form action="create" method="get" class="create-form">
                <div class="create">
                    <p><a href="create">Create Post</a></p>
                </div>
            </form>
            <div class="logout">
                <p><a href="logout">Log Out</a></p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="main-container">
            <% posts.forEach(element => { %>
            <form action="/post" method="get" class="posts-form">
                <div class="posts">
                    <div class="title">
                        <p name="id-p">Blog <%= element.id %></p>
                        <p name="title-p"><%= element.title %></p>
                    </div>
                    <div class="content">
                        <p name="content-p"> <%= element.content %></p>
                    </div>
                </div>
            </form>
            <% }) %>
        </div>
    </div>
    
    <script src="/main.js" type="script/javascript"></script>
</body>
</html>