<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnCodingBlog</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="nav">
        <div class="sidenav">
            <p>LearnCodingBlog</p>
            <p>hi</p>
            <p>hi</p>
        </div>
    </div>
    <main>
        <div class="main">
            <div class="main-container">
                <% posts.forEach(element => { %>
                <div class="posts">
                    <form action="/post" method="GET" type="submit" class="posts-form">
                        <div class="title">
                        <p name="id">Blog <%= element.id %></p>
                        <p name="title"><%= element.title %></p>
                        </div>
                        <div class="blog-content">
                        <p name="content"> <%= element.content %></p>
                        </div>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>
    </main>
    <script src="main.js" type="script/javascript"></script>
</body>
</html>