<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="post.css">
</head>
<body>

    <div class="main">
        <div class="main-container">
            <% current_post.forEach(element => { %>
            <div class="posts">
                <div class="title">
                    <p name="title"><%= element.title %></p>
                </div>
                <div class="content">
                    <p name="content"> <%= element.content %></p>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
   
    <div class="bot-nav">
        <div class="bot-nav-container">

        </div>
    </div>
    
    <script src="main.js" type="script/javascript"></script>
</body>
</html>