<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>

        <form action="/signup" method="POST" class="signup-form">
            <div class="signup-main">
                <div class="signup-container">
                    <div class="sign-up">
                        <h1>Sign Up</h1>
                    </div>
                    <div class="email">
                        <label for="email"> Enter your email: </label>
                    </div>
                    <div>
                        <input type="email" name="email" class="email_input" placeholder="email" required>
                    </div>
                    <div class="password">
                        <label for="password"> Enter your password: </label>
                    </div>
                    <div>
                        <input type="password" name="password" class="password_input" placeholder="password" required>
                    </div>
                    <div class="button">
                        <button class="signup-btn" type="submit">Register</button>  
                    </div>
                </div>
            </div>
        </form>

    <script src="main.js" type="script/javascript"></script>
</body>
</html>