* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    overflow-y: visible;
    align-items: center;
}

.main-container {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.nav {
    position: absolute;
    height: 100%;
    width: fit-content;
}

.sidenav {
    position: static;
    height: 100%;
    width: fit-content;
    background-color: #111;
}


.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 18px;
    font-family: 'Roboto', sans-serif;
}
