* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
}

.main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.main-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: visible;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 18px;
    font-family: 'Roboto', sans-serif;
}

.edit-btn {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background-color: white;
}

.delete-btn {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background-color: white;
}